pytest_session.txt
_build.*
.sconsign.dblite
config.log
.sconf_temp
*.o
*.os
*.so
*.cfgc
*.pyc
*_wrap.cc
*Lib.py
.cache
.pytest_cache
.coverage
bin/
doc/html
doc/*.tag
doc/*.inc
doc/xml
doc/doxygen.conf
tests/.tests
tests/.cache
tests/Test*-*
version.py
tests/trivial_camera/qe_curves/ccd00/19700101T000000.ecsv
tests/trivial_camera/qe_curves/ccd00/19800101T000000.ecsv
