pyyaml >= 5.1
numpy
lsst-daf-butler @ git+https://github.com/lsst/daf_butler@main
lsst-utils @ git+https://github.com/lsst/utils@main
lsst-resources @ git+https://github.com/lsst/resources@main
lsst-pipe-base @ git+https://github.com/lsst/pipe_base@main
lsst-pex-config @ git+https://github.com/lsst/pex_config@main
